
<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Log in</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}" />




<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" login"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">Login</h1>
        </div>
    </div>

    <!-- Content -->
    <div id="content" class="colM">
        <div id="content-main">
            <form action="{% url 'login' %}" method="post" id="login-form">
                {% csrf_token %}
              <div class="form-row">
                <label class="required" for="id_username">Username:</label> {{ form.username }}
                  {% if form.username.errors %}
                    <label class="required">{{ form.username.errors }}</label>
                  {% endif %}
              </div>
              <div class="form-row">
                <label class="required" for="id_password">Password:</label> {{ form.password }}
                  {% if form.password.errors %}
                    <label class="required">{{ form.password.errors }}</label>
                  {% endif %}
              </div>
              <div class="submit-row">
                <label>&nbsp;</label><input type="submit" value="Log in" />
              </div>
            </form>
            <p style="text-align: center">Click <a href="{% url 'signup' %}">here</a> to signup!</p>
            <script type="text/javascript">
                document.getElementById('username').focus()
            </script>
        </div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>